* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  /* width: 800px; */
  font-family: "Raleway", sans-serif;
  color: #051b36;
  text-decoration: none;
  height: 100vh;
}
.entire {
  margin-left: 200px;
}
header {
  background-color: #081627;
  width: 200px;
  height: 100vh;
  position: fixed;
  color: #fff;
  display: grid;
  place-content: center;
  /* text-decoration: none; */
  /* background-image: url(img/Zack\ 2.jpg); */
}

.Home {
  /* margin: auto; */
  height: 100vh;
  color: #fff;
  text-align: center;
  display: grid;
  place-content: center;
  background-image: linear-gradient(
      rgba(28, 31, 67, 0.914),
      rgba(28, 31, 67, 0.914)
    ),
    url(img/hero.jpg);
  background-size: cover;
}

.location {
  margin-bottom: 30px;
}

.btn-hire-me:link,
.btn-hire-me:visited {
  font-size: 20px;
  font-weight: 500px;
  text-decoration: none;
  /* border-color: 3px #20c997; */
  background-color: #20c997;
  color: #fff;
  /* display: inline-block; */
  padding: 12px 24px;
  border-radius: 50px;
}
.btn-hire-me:hover,
.btn-hire-me:active {
  background-color: #19a97e;
}

h1 {
  font-size: 80px;
}

.About-Me {
  color: #fff;
  background-color: #0a2444;
  height: 800px;
  line-height: 1.5;
  position: relative;
}
.About-Me-inner {
  display: flex;
  align-items: center;
  /* margin-bottom: 100px; */
}
.profile {
  position: absolute;

  transform: translate(-50%, -50);
  left: 70%;
  top: 30%;
}
h2 {
  font-size: 80px;
  font-weight: bold;
  opacity: 0.03;
  display: grid;
  place-content: center;
  /* margin-left: 450px;*/
}
h3 {
  font-size: 30px;
  display: grid;
  place-content: center;
  margin-top: -80px;
}
h4 {
  margin-top: 50px;
}

.btn {
  background-color: rgb(9, 203, 125);
  margin-top: 26px;
  color: #343a40;
  padding: 18px 9px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 9px;
  cursor: pointer;
}

.what-i-do {
  background-color: #031730;
  color: #fff;
  height: 500px;
}

.Resume {
  background-color: #0a2444;
  color: #fff;
  height: 500px;
}

#testimonials {
  background-color: #031730;
  color: #fff;
  height: 500px;
}

#contact {
  background-color: #0a2444;
  color: #fff;
  height: 500px;
}
